html,
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}

*,
*:hover,
*:focus {
  outline: none;
}

.root {
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#first,
#second,
#third {
  font-size: 1.5em;
  line-height: 1.6em;
  width: 50%;
}

h3.info {
  font-family: sans-serif;
  font-size: 1em;
  opacity: 0.4;
  width: 50%;
  font-weight: normal;
  text-align: left;
  margin: 0;
  margin-top: 36px;
}

h3.info:first-child {
  margin-top: 0;
}

.animate-btn {
  margin-top: 24px;
}

.animate-btn button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(26, 138, 212);
  color: #fff;
  border-radius: 20px;
  cursor: pointer;

  transition: transform 0.1s ease-in-out;
}

.animate-btn button:hover {
  filter: brightness(110%);
  transform: scale(1.05);
}

.animate-btn button:active {
  filter: brightness(90%);
  transform: scale(0.95);
}
