html,
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}

.root {
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 40px;
}

#first,
#second,
#third {
  font-size: 2em;
  width: 400px;
}
